ENVIO_INDEXER_URL = 
DATABASE_URL = 
NEXT_PUBLIC_MEDIA_URL = https://media.praxis.cc
NEXT_PUBLIC_BACKEND_URL = http://localhost:3001
NEXT_PUBLIC_USE_EARN_MOCKS = false
# Optional: override the default dev JWT used when NODE_ENV=development
# NEXT_PUBLIC_DEV_AUTH_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIweDI5ZWFkMzY0YjQ1ZjA4ODVjNmJhOTE3NDUwMWQ5YWFiNTc2MzYwNDQiLCJpYXQiOjE3ODIzMjIwNzMsImV4cCI6MTgxMzg1ODA3M30.Ggo4lH50aKBF4ZrLfCWYiizX8r98IaxFEfWsFNpXcdk